<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/RSE_StyleAdmin")
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/RSE_Style")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (((MVC.Models.User)HttpContext.Current.Session["User"]) != null)
                    {
                        <li>@Html.ActionLink("Employés", "Employee", "Admin", new { area = "" }, new { @class = "employees" })</li>
                        <li>@Html.ActionLink("Départements", "Department", "Admin", new { area = "" }, new { @class = "department" })</li>
                        <li>@Html.ActionLink("Projets", "Project", "Admin", new { area = "" }, new { @class = "project" })</li>
                        <li>@Html.ActionLink("Options de bases", "Index", "Member", new { area = "" }, new { @class = "navbar-brand employeeside" })</li>
                        <li>@Html.ActionLink("Se déconnecter", "Logout", "Admin/Auth", new { area = "" }, new { @class = "navbar-brand logout" })</li>
                    }
                    else
                    {
                        if (Context.Request.Url.Segments.Last().ToString() != "Login")
                        {
                            <li>@Html.ActionLink("Se connecter", "Login", "Auth", new { area = "Admin" }, new { @class = "navbar-brand login" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("S'enregistrer", "Register", "Auth", new { area = "" }, new { @class = "navbar-brand register" })</li>
                        }
                        <li>@Html.ActionLink("Connexion simple", "Login", "Auth", new { area = "" }, new { @class = "navbar-brand employeeside" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Partial("_footer")
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>